<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Product</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Product</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Order Manager</h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Fullname</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Address</th>
                      <th>Notes</th>
                      <th>Date</th>
                      <th>Account</th>
                      <th>Ship Status</th>
                      <th>Payment</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in pager.items">
                      <td>{{item.id}}.</td>
                      <td>{{item.fullname}}</td>
                      <td>{{item.phone}}</td>
                      <td>{{item.email}}</td>
                      <td>{{item.address}}, {{item.city}}</td>
                      <td>{{item.ordernote}}</td>
                      <td>{{item.createDate | date:'y-MM-dd'}}</td>
                      <td>{{item.account.username}}</td>
                      <td ng-if="item.shipper.id==1" style="color: rgb(210, 68, 8);">{{item.shipper.name}}</td>
                      <td ng-if="item.shipper.id==2" style="color: rgb(30, 207, 63);">{{item.shipper.name}}</td>
                      <td ng-if="item.paystatus.id==1" style="color: rgb(210, 68, 8);">{{item.paystatus.name}}</td>
                      <td ng-if="item.paystatus.id==2" style="color: rgb(30, 207, 63);">{{item.paystatus.name}}</td>          
                      <td>
                        <button type="button" class="btn btn-block btn-outline-primary btn-sm" data-toggle="modal"
                          data-target="#modal-xl" ng-click="edit(item)">Edit</button>
                      </td> 
                      <td>
                        <button type="button" class="btn btn-block btn-outline-danger btn-sm"   
                          ng-click="delete(item)">Delete</button>
                      </td>                      
                    </tr>
         
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">            
                <ul class="pagination pagination-sm m-0 float-right">
                  <li ng-click="pager.first()" class="page-item"><a class="page-link" >&laquo;</a></li>
                  <li ng-click="pager.prev()" class="page-item"><a class="page-link">&lt;</a></li>
                  <li ng-click="pager.next()" class="page-item"><a class="page-link">&gt;</a></li>
                  <li ng-click="pager.last()" class="page-item"><a class="page-link" >&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>

        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->

      <div class="modal fade" id="modal-xl">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Extra Large Modal</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- general form elements -->
              <div class="card card-primary">
                <!-- form start -->
                <form>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Fullname</label>
                      <input ng-model="form.fullname" type="text" class="form-control" id="exampleInputEmail1" placeholder="Fullname">
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Phone</label>
                          <input ng-model="form.phone" type="number" class="form-control" id="exampleInputEmail1" placeholder="Phone">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email</label>
                          <input ng-model="form.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Address</label>
                          <input ng-model="form.address" type="text" class="form-control" id="exampleInputEmail1"
                            placeholder="Address">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="exampleInputEmail1">City</label>
                          <input ng-model="form.city" type="text" class="form-control" id="exampleInputEmail1"
                            placeholder="City">
                        </div>
                      </div>
                      
                      <div class="col-sm-3">
                          <div class="form-group">
                              <label>Ship Status</label>
                              <select ng-model="form.shipper.id" class="form-control">
                                    <option ng-repeat="b in ship" ng-value="b.id">{{b.name}}</option>
                              </select>
                           </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                            <label>Pay Status</label>
                            <select ng-model="form.paystatus.id" class="form-control">
                                  <option ng-repeat="p in pay" ng-value="p.id">{{p.name}}</option>
                            </select>
                         </div>
                    </div>
                    </div>
                    
                    
                    <!-- textarea -->
                    <div class="form-group">
                      <label>Notes</label>
                      <textarea ng-model="form.ordernote" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </form>
              </div>
              <!-- /.card -->
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-primary" ng-click="update()">Update</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->